.container {
  margin: 0 auto;
  padding: 0 136px;
  width: 100%;
  max-width: 1440px;

  @include media-up-to(727.99) {
    padding: 0 10px;
  }

  @include media-from-to(728, 990.9) {
    max-width: 951px;
    padding: 0 20px;
  }

  @include media-from-to(991, 1439.9) {
    padding: 0 30px;
    max-width: 1380px;
  }

  @include media-from(1790) {
    max-width: 1568px;
  }
}
