.benefits {
  background-color: $color-black-primery;
  text-align: center;
  margin-top: -10px;

  @include media-from-to(320, 727.9) {
    margin-top: 0;
  }

  &__title {
    @include font-sub-title;

    color: $color-white-primery;
    padding-top: 100px;
    margin-bottom: 5px;

    @include media-from-to(320, 727.9) {
      padding-top: 40px;
    }
  }
  &__citat {
    @include font-title;

    color: $color-white-primery;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding-bottom: 100px;

    @include media-from-to(320, 728.9) {
      display: flex;

      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding-bottom: 25px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__phone {
    z-index: 1;
  }

  &__card {
    padding: 40px 0 0 0;
    background-color: $color-white-primery;
    border-radius: 20px;

    @include media-from-to(320, 728.9) {
      min-width: 200px;
    }
  }

  &__bg {
    background-color: $color-white-secondary;
    margin-top: -5px;
  }

  &__wrap {
    position: relative;
    background-color: $color-blue;
    max-width: 64px;
    max-height: 64px;
    padding: 20px;
    margin: 0 auto;
    transform: translateY(-32px);
    z-index: 5;
  }

  &__card--2 {
    .benefits__wrap {
      background-color: $color-red;
    }
    .benefits__subtitle {
      color: $color-red;
    }
  }
  &__card--3 {
    .benefits__wrap {
      background-color: $color-orange;
    }
    .benefits__subtitle {
      color: $color-orange;
    }
  }
  &__card--4 {
    .benefits__wrap {
      background-color: $color-pink;
    }
    .benefits__subtitle {
      color: $color-pink;
    }
  }
  &__card--5 {
    .benefits__wrap {
      background-color: $color-blue-light;
    }
    .benefits__subtitle {
      color: $color-blue-light;
    }
  }
  &__card--6 {
    .benefits__wrap {
      background-color: $color-violet;
    }
    .benefits__subtitle {
      color: $color-violet;
    }
  }

  &__subtitle {
    @include font-title-card;

    color: $color-blue;
    margin: -15px 0px 11px 0px;
  }

  &__text {
    padding: 0 45px 45px 45px;

    @include media-from-to(320, 727.9) {
      padding: 0 10px 10px 10px;
    }
  }
}
