.comments {
  text-align: center;
  background-color: $color-white-secondary;
  padding-top: 100px;
  padding-bottom: 100px;

  &__title {
    @include font-sub-title;
  }

  &__citation {
    @include font-title;

    margin-bottom: 14px;
  }

  &__text {
    margin-bottom: 37px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: start;
    gap: 16px;

    @include media-from-to(320, 728.9) {
      display: flex;

      overflow: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      padding-bottom: 25px;
      margin-top: 25px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__card {
    background-color: $color-white-primery;
    border-radius: 20px;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;

    @include media-from-to(320, 772) {
      min-width: 250px;
    }
  }

  &__world {
    flex-grow: 1;
  }

  &__wrap {
    display: flex;
    gap: 10px;
    margin-top: 24px;
  }

  &__img {
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 64px;
  }
}
