.dark {
  background-color: $color-black-primery;
  text-align: center;
  color: $color-white-primery;
  padding-top: 100px;
  padding-bottom: 165px;

  @include media-up-to(800) {
    padding-bottom: 50px;
  }

  &__title {
    @include font-sub-title;

    margin-bottom: 5px;
  }

  &__citation {
    @include font-title;

    margin-bottom: 14px;
  }

  &__text {
    @include font-text-secondary;
    max-width: 578px;
    margin: 0 auto;
  }

  &__img {
    margin-top: 31px;

    @include media-up-to(800) {
      max-width: 300px;
    }
  }

  &__wrap {
    position: relative;
  }

  &__wrap::before {
    content: "";
    max-width: 600px;
    width: 100%;
    height: 2px;
    display: inline-block;
    background-color: $color-white-primery;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__list {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 42px;
  }

  &__but {
    @include font-sub-title;

    letter-spacing: 2px;
    text-transform: uppercase;
  }
}
