.form {
  margin-top: 100px;

  @include media-up-to(727.9) {
    margin-top: 50px;
    text-align: center;
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    @include media-up-to(727.9) {
      display: block;
    }
  }

  &__title {
    @include font-sub-title;

    margin-bottom: 5px;
  }

  &__citate {
    @include font-title;

    margin-bottom: 15px;
  }

  &__wrap {
    max-width: 420px;
    margin: 78px 0 0 0;

    @include media-up-to(727.9) {
      margin: 0 auto;
    }
  }

  &__img {
    margin-left: 10px;

    @include media-up-to(727.9) {
      margin: 0 auto;
      margin-bottom: -7px;
    }
  }

  &__img-2 {
    order: -1;

    @include media-up-to(727.9) {
      margin: 0 auto;
      margin-bottom: -7px;
    }
  }

  &--grey {
    background-color: $color-white-secondary;
    padding-top: 100px;
  }
}
