.future {
  margin-top: 139px;
  display: flex;
  justify-content: space-between;

  @include media-up-to(1200) {
    margin-top: 70px;
  }

  @include media-up-to(1000) {
    margin-top: 50px;
    text-align: center;
  }

  &__wrap {
    max-width: 500px;
    margin-right: 194px;
    padding-bottom: 50px;

    @include media-up-to(1200) {
      margin-top: 20px;
    }

    @include media-up-to(999.9) {
      margin: 0 auto;
    }
    @include media-from(1000) {
      padding-left: 80px;
    }
  }

  &__title {
    @include font-h1-title;
    margin-top: 5px;
  }

  &__text {
    @include font-text;

    margin-top: 18px;
    margin-bottom: 20px;
  }

  &__button {
    display: inline-block;
  }

  &__wrapper {
    display: flex;
    column-gap: 10px;
    row-gap: 20px;
    flex-wrap: wrap;

    @include media-up-to(1000) {
      justify-content: center;
    }
  }

  &__block {
    align-self: flex-end;
  }

  &__img {
    margin-right: 120px;
    @include media-up-to(999) {
      display: none;
    }

    @include media-from-to(1000, 1200) {
      margin-right: 10px;
    }
  }
}
