.load {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 140px;

  &__title {
    @include font-sub-title;

    margin-bottom: 5px;
  }

  &__citation {
    @include font-title;
    margin-bottom: 14px;
  }

  &__text {
    @include font-text-secondary;

    color: $color-grey-primery;

    max-width: 600px;
    margin: 0 auto;
  }

  &__button {
    margin-top: 25px;
  }
}
