.price {
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;

  &__title {
    @include font-sub-title;

    margin-bottom: 5px;
  }

  &__citation {
    @include font-title;

    margin-bottom: 14px;
  }

  &__text {
    @include font-text-secondary;

    max-width: 568px;
    margin: 0 auto;
  }

  &__list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    align-items: center;

    @include media-up-to(767.9) {
      display: flex;
      flex-direction: column;
    }
    @include media-from(768) {
      align-items: initial;
    }
  }

  &__card {
    background-color: $color-white-secondary;
    padding-top: 59px;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 375px;
  }

  &__sub-title {
    @include font-sub-title;
  }

  &__number {
    @include font-large-number;
  }

  &--1 {
    .price__sub-title,
    .price__number {
      color: $color-blue;
    }
  }
  &--2 {
    .price__sub-title,
    .price__number {
      color: $color-red;
    }
  }
  &--3 {
    .price__sub-title,
    .price__number {
      color: $color-orange;
    }
  }

  &__time {
    @include font-sub-title;

    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
