$color-white-primery: #ffffff;
$color-white-secondary: #f2f2f2;
$color-black-primery: #222222;
$color-black-secondary: #1b1a1a;
$color-blue: #0278ed;
$color-red: #ff5437;
$color-orange: #ff9209;
$color-pink: #e738ce;
$color-blue-light: #00c6df;
$color-violet: #b25df8;
$color-grey-primery: #666666;
$color-grey-secondary: #b1b1b1;
