$white-primery: #ffffff;
$black-primery: #222222;
$white-secondary: #f2f2f2;
$black-secondary: #1b1a1a;
$icon-1: #0278ed;
$icon-2: #ff5437;
$icon-3: #ff9209;
$icon-4: #e738ce;
$icon-5: #00c6df;
$icon-6: #b25df8;
$bg: #ff5437;
$text-secondary: #666666;
$text-citation: #b1b1b1;
