.button {
  @include button;

  color: $white-primery;
  background: $black-primery;
  padding: 10px 30px 12px 30px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;

  &--1 {
    background-color: $icon-1;
  }
  &--2 {
    background-color: $icon-2;
  }
  &--3 {
    background-color: $icon-3;
  }

  &--load {
    display: inline-block;
    padding: 12px 15px 9px 15px;
    border-radius: 20px;
  }

  &--hamburger {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px;
  }
}
